/* .rock{ */
    /* background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0)); */
/* } */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@800&display=swap');
:root{
    --main-bg: #1e272e;
    --main-color: #0097e6;
    --txt-color:#ff3131;
}


.main_header_left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Sofia Sans', sans-serif;
    margin: 0 6rem;
    width: 50%;
}
.store_main{
    color: #fff !important;
    background: #ff3131ee;
    padding: 3px;
    border-radius:3px;
}
.main_header_right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p{
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
}

.main_header_left h1{
    font-size: 4rem;
    color:white;
    text-transform: capitalize;
}

.main_header_left span{
    color: var(--txt-color);
}

.main_header_right figure{
    margin: 0;
    padding: 0;
}


@media (max-width:768px) {
    html{
        font-size: 62.5%;
    }
    .main_header_left{
        height: auto;
        color: white;
        
    }

    .main_header_right{
        height: auto;
    }
    .main_header_right figure{
        margin: auto;
    }
}

.img-fluid{
    height: 40rem;
    width: 22rem;
}

.main_header{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0));
    font-family: 'poppins';
    font-size: 23rem;
    display: flex;
    flex-direction: row;
}